{% extends 'base.html' %}

{% block title %} Ajouter un patient {% endblock %}

{% block body %}
<div class="row" style="width:100vw">
  <!-- Side Nav -->
  {% include 'pages/partials/_sideNav.html' %}

  <div class="col-9" style="margin: 2em 0;">
    <!-- Alert -->
    {% include 'partials/_alerts.html' %}

    <!-- Patient infos -->
    <div style="margin: 0 1.5em">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Ajouter un nouveau patient</h4>
        </header>
        <article class="card-body">
          <form action="{% url 'patients:add_patient' %}" method="POST">
            {% csrf_token %}

            <!-- Full Name -->
            <div class="col px-0">
              <!--- Last Name Validation Error --->
              {% if form.last_name.errors %}
                  <div class="alert alert-danger" role="alert">
                      <i class="fa fa-exclamation-circle fa-right-margin"></i>
                      {{ form.last_name.errors | striptags }}
                  </div>
              {% endif %}
              <!--- First Name Validation Error --->
              {% if form.first_name.errors %}
              <div class="alert alert-danger" role="alert">
                  <i class="fa fa-exclamation-circle fa-right-margin"></i>
                  {{ form.first_name.errors | striptags }}
              </div>
              {% endif %}
              <!--- Form --->
              <div class="form-row">
                <div class="col form-group">
                  <label>Nom </label>
                  <input name="last_name" type="text" class="form-control"
                    value="{{ values.last_name }}"
                    {% if form.last_name.errors %}
                      style="border-color:red; color:red;"
                    {% endif %}
                  >
                </div>
                <div class="col form-group">
                  <label>Prénom</label>
                  <input name="first_name" type="text" class="form-control"
                    value="{{ values.first_name }}"
                    {% if form.first_name.errors %}
                      style="border-color:red; color:red;"
                    {% endif %}
                  >
                </div>
              </div>
            </div>

            <!-- Gender -->
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Sexe</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value='M' checked>
                    <label class="form-check-label" for="gridRadios1">Homme</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value='F'>
                    <label class="form-check-label" for="gridRadios2">Femme</label>
                  </div>
                </div>
              </div>
            </fieldset>

            <!-- CIN -->
            <div class="form-group">
              <!--- C.I.N Validation Error --->
              {% if form.cin.errors %}
              <div class="alert alert-danger" role="alert">
                  <i class="fa fa-exclamation-circle fa-right-margin"></i>
                  {{ form.cin.errors | striptags }}
              </div>
              {% endif %}
              <label>C.I.N</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-id-card"></i>
                  </div>
                </div>
                <input name="cin" type="text" class="form-control"
                  value="{{ values.cin }}"
                  {% if form.cin.errors %}
                    style="border-color:red; color:red;"
                  {% endif %}
                >
              </div>
            </div>

            <!-- Telephone -->
            <div class="form-group">
              <!--- Phone Validation Error --->
              {% if form.phone.errors %}
              <div class="alert alert-danger" role="alert">
                  <i class="fa fa-exclamation-circle fa-right-margin"></i>
                  {{ form.phone.errors | striptags }}
              </div>
              {% endif %}
              <!--- Form --->
              <label>Téléphone</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-mobile-alt" style="width:1em"></i>
                  </div>
                </div>
                <input name="phone" type="text" class="form-control"
                  value="{{ values.phone }}"
                  {% if form.phone.errors %}
                    style="border-color:red; color:red;"
                  {% endif %}
                >
              </div>
            </div>

            <!-- Birthday -->
            <div class="form-group">
              <label>Date de naissance</label>
              <input type="date" name="birthdate" max="3000-12-31" min="1900-01-01" class="form-control">
            </div>
            
          </div>
            
            <!-- Buttons -->
            <div class="send-cancel">
              <button type="submit" class="btn btn-success btn-lg btn-send">Enregister</button>
              <a href="{% url 'pages:list_patients' %}" class="btn btn-warning btn-lg btn-cancel">Annuler</a>
            </div>

      </form>
      </article>
    </div>

  </div>


</div>
{% endblock %}