{% extends 'base.html' %}

{% block title %} List des médecins {% endblock %}

{% block body %}
<div class="row" style="width:100vw">
  <!-- Side Nav -->
  {% include 'pages/partials/_sideNav.html' %}

  <div class="col-9" style="margin: 2em 0;">

    <!-- Search Area -->
    <form action="{% url 'pages:list_doctors' %}">
      <div class="form-row">
        <!-- Name -->
        <div class="col-md-6 mb-3">
          <label class="sr-only">Nom et Prénom</label>
          <input type="text" name="search_name" class="form-control" placeholder="Nom ou Prénom"
            value="{{ values.search_name }}">
        </div>
        <!-- Speciality -->
        <div class="col-md-5 mb-3">
          <label class="sr-only">Spécialité</label>
          <input type="text" name="search_speciality" class="form-control" placeholder="Spécialité"
            value="{{ values.search_speciality }}">
        </div>
        <!-- Institution -->
        <div class="col-md-4 mb-3">
          <label class="sr-only">Etablissement</label>
          <input type="text" name="search_institution" class="form-control" placeholder="Etablissement"
            value="{{ values.search_institution }}">
        </div>
        <!-- City -->
        <div class="col-md-3 mb-3">
          <label class="sr-only">Ville</label>
          <input type="text" name="search_city" class="form-control" placeholder="Ville"
            value="{{ values.search_city }}">
        </div>
        <!-- Available -->
        <div class="col-md-2 mb-2" style="text-align: center;">
          <label class="toggle-switch-box switch-rounded switch-bg-success">
            <input type="checkbox" name="search_available" value='AVAILABLE'
              {% if values.search_available ==  'AVAILABLE' %}
                checked
              {% endif %}
            >
            <span class="toggle-switch-item" data-tg-on="Disponible" data-tg-off="Tous">
              <span class="switch-button"></span>
            </span>
          </label>
        </div>
        <!-- Start search button -->
        <div class="col-md-3 mb-3 search-btn">
          <button class="btn btn-info" type="submit">
            <i class="fa fa-right-margin fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    {% if doctors %}

    <small class="small-info">
      <i class="fa fa-info-circle"></i>
      Appuyer sur le nom du medecin pour voir les détails.
    </small>
    <table class="table table-striped" style="margin-top: 2em;">
      <thead>
        <tr>
          <th scope="col">Nom du médecin</th>
          <th scope="col">Spécialité</th>
          <th scope="col">Etablissement</th>
        </tr>
      </thead>
      <tbody>
        {% for doctor in doctors %}
        <tr>
          <td>
            <a href="{% url 'pages:doctor' doctor.pk %}" class="my-access-link">
              {{ doctor.last_name }} {{ doctor.first_name }}
            </a>
          </td>
          <td>{{ doctor.speciality }}</td>
          <td>{{ doctor.institution }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Pagination -->
    {% if doctors.has_other_pages %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <!-- Previous Pagination Button -->
        {% if doctors.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ doctors.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        <!-- all element show -->
        {% for i in doctors.paginator.page_range %}
        {% if doctors.number == i %}
        <li class="page-item active">
          <a class="page-link" href="">{{ i }}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- Next Pagination Button -->
        {% if doctors.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ doctors.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span> </a>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

    {% else %}
    <div class="alert alert-info" role="alert">
      Aucun médecin n'est enregister dans la plateforme!
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}