{% extends 'base.html' %}

{% block title %} Changer le mot de passe {% endblock %}

{% block body %}
<div class="row justify-content-center" style="margin: 3em 0">
    <div class="col-md-6">
    <div class="card">
    <h5 class="card-header">
        <i class="fa fa-user-lock fa-right-margin"></i>
        Changement du mot de passe
    </h5>
    <article class="card-body">

    <!-- Alert -->
    {% include 'partials/_alerts.html' %}

    <form action="{% url 'accounts:set_password' %}" method="POST">
        {% csrf_token %}
        <!-- Old Password -->
        <div class="form-group">
            <label>Ancien mot de passe</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-key"></i>
                    </div>
                </div>
                <input name="old_password" type="password" class="form-control" id="old-password-field">
                <div style="margin: auto 0.5em">
                    <i id="pass-status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword()"></i>
                </div>
            </div>
        </div>
        <!-- New Password -->
        <div class="form-group">
            <label>Nouveau mot de passe</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-key"></i>
                    </div>
                </div>
                <input name="new_password" type="password" class="form-control" id="new-password-field">
                <div style="margin: auto 0.5em">
                    <i id="pass-status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword()"></i>
                </div>
            </div>
        </div>
        <!-- Confirm Password -->
        <div class="form-group">
            <label>Confirmer le mot de passe</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <input name="conf_password" type="password" class="form-control" id="conf-password-field">
                <div style="margin: auto 0.5em">
                    <i id="pass-status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword()"></i>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-register-register">
                <i class="fa fa-pencil-alt fa-right-margin"></i>
                Changer le mot de passe
            </button>
        </div>                                        
    </form>
    </article>
    </div>
    </div>
    
    </div>
    </div> 
{% endblock %}