{% extends 'base.html' %}

{% block title %} Inscription {% endblock %}

{% block body %}
<div class="row justify-content-center" style="margin: 3em 0">
    <div class="col-md-9">
        <div class="jumbotron jumbotron-fluid" style="background-color: #DAE1E7; border-radius: 2em">
            <div class="container" style="text-align: center">
              <h1 class="display-4">Validation d'email</h1>
              <br/>
              <p class="lead">Un lien a été envoyer à votre email pour valider votre compte.</p>
            </div>
        </div>
    </div>
</div> 
{% endblock %}