{% extends 'base.html' %}

{% block title %} Inscription {% endblock %}

{% block body %}
<div class="row justify-content-center" style="margin: 3em 0">
    <div class="col-md-9">
        <div class="jumbotron jumbotron-fluid" style="background-color: #acebac; border-radius: 2em">
            <div class="container" style="text-align: center">
              <h3 class="display-8">
                  <i class="fa fa-check fa-right-margin"></i>
                  La demande est envoyé à votre email
              </h3>
              <br/>
              <p class="lead">Un lien a été envoyer à votre email pour changer le mot de passe de votre compte.</p>
            </div>
        </div>
    </div>
</div> 
{% endblock %}